[submodule "Terrorochka.github.io"]
	path = Terrorochka.github.io
	url = https://github.com/Terrorochka/Terrorochka.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/Terrorochka/Terrorochka.github.io.git
	branch = main
